.hometop {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  color: #5e5b5b;
  height: 70px;
  font-size: 12px;
}

.hometop h5 {
  margin: 1vh;
}

.selectgame {
  border-bottom: 3px solid var(--red);
  text-align: center;
  color: var(--red);
}

.hometopicon {
  text-align: center;
}

.stepper {
  background-color: #303030;
  height: 10vh;
  padding: 2vh 2vw;
}

.matchstatuses {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2vh 2vw;
  box-sizing: border-box;
  box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
}

.matchstatus {
  background-color: #ffffff;
  outline: none;
  border: none;
  text-transform: capitalize;
}

.matches {
  background-color: #ffffff;
  padding: 2vh 3vw;
  box-sizing: border-box;
  height: auto;
  overflow-x: scroll;
}

.matchcontainer {
  box-shadow: 0 0 3px rgba(83, 80, 80, 0.15);
  border-radius: 5px;
  overflow: hidden;
  margin: 15px 0;
}

#section1::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #000;
  opacity: 0.5;
  height: 100%;
}



.matchright {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: start;
  flex-direction: column;
  align-items: flex-end;
  flex-direction: column;
}

.matchlefts {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: start;
  align-items: center;
}

.homecontainer {
  margin-bottom: 40px;
}

.mega {
  background-color: #c7e0d4;
  color: var(--red);
  width: 90px;
  box-sizing: border-box;
  border-radius: 4px;
  display: inline-block;
  border: 1px solid var(--red);
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}

.time {
  color: var(--red);
  font-size: 10px;
  text-align: center;
  justify-content: center;
  width: 34vw;
}

.completed {
  color: var(--green) !important;
  font-size: 10px;
  text-align: center;
  justify-content: center;
  width: 27vw;
  text-transform: initial;
  font-weight: 700;
}

.meg {
  display: inline-block;
  margin-left: 3vw;
  text-transform: capitalize;
}

.bottomnav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  height: 60px;
  font-size: 12px;
  width: 100vw;
}

.bottomnav div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #5e5b5b;
  font-weight: 400;
}

.bottom {
  background-color: #fff !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
}

.icon {
  display: flex;
  align-items: center;
}

.meta {
  display: flex;
  align-items: center;
}