/* Add this CSS to your global styles or the relevant CSS file */
.desktop-only {
  display: none;
}

@media (min-width: 769px) {
  .desktop-only {
    display: table-cell;
  }
}

.mobile-only {
  display: block;
}

@media (min-width: 769px) {
  .mobile-only {
    display: none;
  }
}