.hometop{
    display:flex;
    justify-content:space-evenly;
    align-items: flex-end;
    height:10vh;
    box-shadow: 2px 2px 2px 2px rgb(148, 147, 147);
}
.hometop h5{
    margin: 1vh;
}
.selectgame{
    border-bottom: 3px solid #C41E22;
    text-align: center;
    color:#C41E22;
}
.hometopicon{
  text-align: center;
}
.stepper{
    background-color: #303030;
    height: 10vh;
    padding:2vh 2vw;
}
.matchstatuses{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vh 2vw;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 2px rgb(148, 147, 147);
}
.matchstatus{
    background-color:#ffffff;
    outline: none;
    border: none;
    text-transform: capitalize;
}
.matches{
    background-color: #F1F0F8;
    padding: 2vh 3vw;
    box-sizing: border-box;
}
.match{
    background-color: #FFFFFF;
    padding: 1vh 2vw;
    margin-top: 1vh;
    border-radius: 5px;
    box-sizing: border-box;
}
.matchcenter{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.matchright{
    display: flex;
    align-items: center;
    width: 30%;
justify-content: space-evenly;
flex-direction: column;
align-items: flex-end;
flex-direction: column;
}
.matchlefts{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content:space-between;
    align-items: center;
}
.matchrights{
    display: flex;
    align-items: center;
    width: 30%;
justify-content: space-between;
align-items: center;
}
.mega{
    background-color: #C7E0D4;
color: #1ca14d;
width: 12vw;
box-sizing: border-box;
border-radius: 2px;
display: inline-block;
text-align: center;
font-weight: 700;
font-size: 12px;
text-transform: uppercase;
}
.time{
color:#C41E22;
font-size: 10px;
text-align: center;
justify-content: center;
width: 17vw;
}
.meg{
    display: inline-block;
    margin-left: 3vw;
    text-transform: capitalize;
}