.register {
  background-color: #fafafa;
  padding: 2vh 2vw;
  box-sizing: border-box;
  text-align: center;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.registerform {
  padding: 2vh 2vw;
  box-sizing: border-box;
  text-align: center;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.loginform {
  padding: 2vh 2vw;
  box-sizing: border-box;
  text-align: center;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.registertopbar {
  background-color: #c41e22;
  color: #ffffff;
  height: 10vh;
  padding: 2vh 2vw;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.logintopbar {
  background-color: #e10000;
  color: #ffffff;
  height: 10vh;
  padding: 2vh 3vw;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.MuiPaper-root {
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: space-between;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
